anaTrackQA/
AnaTrkQA/
calc/
chisq/
debug/
firstDay/
geom/
globalplane/
in-acceptance_cut/
kmagstr_zero/
mag_bend/
magnetic_field/
new acceptance/
new_sagitta/
sagitta_ratio/
summary/
test/
dimuon/analysis/
dimuon/analysis.ipynb
dimuon/AnaTrkQA/
dimuon/cmake-build-debug/
dimuon/slides/
dimuon/data1.root
dimuon/trackQA.root
dimuon/test.cc
dimuon/test.sh
dimuon/update/
dimuon/output.cpp
dimuon/RecoDev/analysis1/
dimuon/RecoDev/analysis2/
dimuon/RecoDev/analysis3/
dimuon/RecoDev/analysis4/
dimuon/RecoDev/analysis5/
dimuon/RecoDev/src/AnaTrkQA.cxx
dimuon/RecoDev/src/AnaTrkQA.h
dimuon/RecoDev/src/transfer.sh
dimuon/RecoDev/analysis/cmake-build-debug/
dimuon/RecoDev/analysis/*.png
dimuon/RecoDev/analysis/*.root